<div ng-controller="searchTareasController as tareas"> 
    <!-- Button (Double) -->    
    <div class="form-group">
        <table style="width: 100%">
            <tr>
                <td colspan="2">
            <center>
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 70%">
                                <input style="width: 99%" type="text" placeholder="Ingrese nombre de tarea o descripción" class="form-control input-md"
                                       ng-model="tareas.textoBusqueda">
                            </td>
                            <td style="width: 7%">
                                <button id="ok" name="ok" class="btn btn-success" ng-click="tareas.searchByTexto()">Buscar</button>
                            </td>
                            <td style="width: 7%">
                                <button id="ok" name="ok" class="btn btn-success" ng-click="tareas.search()">Todas</button>
                            </td>
                            <td style="width: 10%">
                                <a id="new" ui-sref="public.tareas.new" class="btn btn-primary">
                                    Nueva Tarea
                                </a>
                            </td>                            
                            <td style="width: 5%">
                               <button type="button" class="btn btn-primary" ng-click="tareas.openCategoria()">
                                   Nueva Categoria</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </center>
            </td>
            </tr>
            <tr>
                <td style="width: 25%;"> 
                    <br/>
                    <br/>
                    <div> 
                        <ul ng-repeat="cat in tareas.categorias">                                       
                            <button id="okCat" name="okcat" class="btn btn-primary" style="width: 200px;" ng-click="tareas.searchByCategory(cat)">{{cat.nombre}}</button>
                        </ul>       
                    </div>
                </td>
                <td style="width: 75%; vertical-align: top;">                    
                    <br/>
                    <br/>
                    <div id="demo">
                        <table class="table" style="width: 100%">
                            <tr>
                                <th></th>
                                <th>Tarea</th>
                                <th>Descripción</th>
                                <th>Fecha y Hora Límite</th>
                                <th>Categoría</th>
                                 <th></th>
                            </tr>
                            <tr ng-repeat="t in tareas.tareas">
                                <td><input type="checkbox" ng-model="t.realizada" ng-change="tareas.update(t)"></td>
                                <td>{{t.nombre}}</td>
                                <td>{{t.descripcion}}</td>
                                <td>{{t.fechaLimite| date : "dd/MM/yyyy hh:mm a"}}</td>
                                <td>{{t.categoria.nombre}}</td>
                                <td><button type="button" class="btn btn-primary" ng-click="tareas.open(t)">Detalle</button></td>
                            </tr>
                        </table>
                    </div>  
                <td>
            </tr>
        </table>
    </div>