<div id="demo" ng-controller="searchTareasController as tareas">
    <!-- Button (Double) -->
    <div class="form-group">
        <label class="col-md-4 control-label" for="ok"></label>
        <div class="col-md-8">
            <button id="ok" name="ok" class="btn btn-success" ng-click="tareas.search()">Buscar</button>

            <a id="new" ui-sref="public.tareas.new" class="btn btn-primary">
                Nueva tarea
            </a>

        </div>
    </div>
    <br/>
    <hr />
    <div>

        <table class="table">
            <tr>
                <th></th>
                <th>Tarea</th>
                <th>Fecha y Hora Límite</th>
                <th></th>
            </tr>
            <tr ng-repeat="t in tareas.tareas">

                <td><input type="checkbox" ng-model="t.realizada" ng-change="tareas.update(t)"></td>


                <td>{{t.nombre}}</td>
                <td>{{t.fechaLimite| date : "dd/MM/yyyy hh:mm a"}}</td>

            </tr>
        </table>

    </div>
</div>